{% extends 'base.html' %}

{% block content %}
  {% comment %} <h2>Add exercises to {{ workout.name }}</h2>
  <form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
      {{ form.as_p }}
    {% endfor %}
    <button type="submit">Add exercises</button>
 </form> {% endcomment %}
 {% comment %} veikiantis kodas su issaugojimu {% endcomment %}

 <h2>Add exercises to {{ workout.name }}</h2>
 <form method="POST">
     {% csrf_token %}
     {{ formset.management_form }}
     <table>
         <tr>
             <th>Exercise</th>
             <th>Sets</th>
             <th>Reps per set</th>
         </tr>
         {% for form in formset %}
             <tr>
                 <td>{{ form.exercise }}</td> <!-- This will show the exercise dropdown -->
                 <td>{{ form.sets }}</td> <!-- Input field for sets -->
                 <td>{{ form.reps_per_set }}</td> <!-- Input field for reps per set -->
             </tr>
         {% endfor %}
     </table>
     <button type="submit">Add exercises</button>
 </form>

{% endblock %}
