{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.name }}</h2>
    <ul>
    {% for workoutexercise in object.workoutexercises.all %}
        <li>
            <h3>{{ workoutexercise.exercise.name }}</h3>
            <p>Category: {{ workoutexercise.exercise.category.name }}</p>
            <p>Video URL: {{ workoutexercise.exercise.video_embed }}</p>
            <p>Sets: {{ workoutexercise.sets }}</p>
            <p>Reps per set: {{ workoutexercise.reps_per_set }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
